
@font-face {
    font-family: PierSans;
    src: url(hinted-PierSans.woff);
}

@font-face {
    font-family: PierSans;
    src: url(hinted-PierSans-Bold.woff);
    font-weight: bold;
}


body, html {
	font-family: "PierSans", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	color: #26272C;
}

hr {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #26272C;
	background-color: #26272C;
	height: 2px;
	border: 0;	
}

img, video {
	width: 100%;
}

h1, h2, h3, h4, h5, h6, a {
	color: #26272C;
}


a {
	text-decoration: none;
}


p span{
	font-weight: bold;

}


video.column {
	margin-bottom: 24px;
}

.hideMobile {
	display: none;
}

.hideDesktop {
	display: block;
	width: calc(100% - 32px);
	padding-top: 24px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	position: static; 
	z-index: 110; 
	top: 0;
	background-color: rgba(245, 245, 248, 0.95);
	overflow: hidden;
}

#comingSoonMobil {
	position: relative;
	display: block;
	height: 100%;
}

a#comingSoonMobil:hover .overlay {
	opacity: 1;
}

a#comingSoonMobil:focus .overlay, a#comingSoonMobil:active .overlay {
	opacity: 1;
	background-color: green;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #6CE4B2;
	z-index: 100;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	margin: 0;
	padding: 0;
	background-color: #F5F5F8;
	opacity: 0.95;
    filter: alpha(opacity=95);
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.07), 0 -4px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 20px 0 rgba(0, 0, 0, 0.03);

}


.nav h1 {
	font-size: 12pt;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: #26272C;
	margin: 0px;
	display: inline;
	padding-top: 0px;
}


a {
	color: #26272C;

}

.nav #resume {
	font-size: 8pt;
	font-weight: bold;
	display: inline;
	text-align: right;
	padding-left: 36px;
	text-decoration: underline;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	padding-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 0px;
	z-index: 110;
}


.landingPageNav {
	/*display: block; */
	width: 95%;
	padding-top: 24px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	position: static; 
	z-index: 110; 
	top: 0;
	background-color: rgba(245, 245, 248, 0.90);
	color: #26272C; 
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.04), 0 4px 20px 0 rgba(0, 0, 0, 0.03);
}

.projectPageNav {
	display: block; 
	width: 90%;
	padding-top: 24px; 
	padding-bottom: 8px;
	padding-left: 5vw;
	padding-right: 5vw;
	position: fixed; 
	z-index: 110; 
	top: 0;
	background-color: rgba(245, 245, 248, 0.97); 
	height: 24px; 	
}


.landingPageNav h1, .projectPageNav h1, .hideDesktop h1 {
	font-size: 12pt;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: #9196A4;
	margin: 0px;
	line-height: 1;

}

.landingPageNav h3, .projectPageNav h3, .hideDesktop h3 {
	font-size: 12pt;
	font-weight: bold;
	color: #9196A4;
	margin: 0px;
	margin-left: 12px;
	margin-right: 12px;
	line-height: 1;
	display: inline-block;
	line-height: 1.3;
}

#navigationGroup h1 {
	margin-right: 0px;
	line-height: 1.3;
}


.landingPageNav h3:hover {
	color: #FFE845;
}

#name {

}

#name h1:hover {
	color: #1787FF;
}

.headerHR {
	position: fixed;
	top: 0;
	width: 100%;
	margin-top: 64px;
	z-index: 110;
}

.coverImage {
	margin-top: 64px;
    overflow: auto;
}

main h3, main h4, main p, #introMessage {
	padding-left: 16px;
	padding-right: 16px;
}

#introMessage, #about {
	padding-top: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #F5F5F8; 
	z-index: 0; 
	top: 0;
}

#introMessage {
	padding-top: 80px;
	padding-bottom: 80px;
	width: calc(100% - 32px);
    padding-right: 16px;
}

#introMessage h2 {
	font-size: 36pt;
	line-height: 1.3;
	margin-top: 0px;
	margin-bottom: 8px;
}

#about {
	margin-left: 0px;
	margin-right: 0px;
	height: auto;
	width: calc(100% - 48px);
	padding-right: 24px;
	padding-left: 24px;
	padding-bottom: 32px;
}


#about .section {
	max-width: 600px;
	min-width: none;
	height: auto;
}

.projectPreviews, .projectPreviewsNextProj{
	z-index: 51; 
	position: relative; 
	margin-top: 24px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.projectPreviews {
	background-color: white; 
}

.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 24px;
	padding-left: 12px;
	padding-right: 12px;
}

.tag {
	background: #F1F1F2;
	border-radius: 100px;
	padding-top: 20px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 8px;
}

.tag .basicText {
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	line-height: 0;
}

#introParagraph {
		font-size: 16pt; 
		margin-left: 0vw; 
		max-width: 600px;
		margin-top: 0px;
}

.projectPreviews img,  .projectPreviewsNextProj img{
	width: 100%;
	padding: 0px;
}

.projectPreview, .projectPreviewNextProject {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.03), 0 -4px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 20px 0 rgba(0, 0, 0, 0.03);
	padding-bottom: 36px;
	margin-bottom: 24px;
	margin-right: 16px;
	margin-left: 16px;
	background-color: white;
}

.projectPreviewNextProject {
	background-color: white;
}


.projectPreview:hover, .projectPreviewNextProject:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.17), 0 10px 24px 0 rgba(0, 0, 0, 0.15), 0 -8px 12px 0 rgba(0, 0, 0, 0.08), 0 -10px 24px 0 rgba(0, 0, 0, 0.10);
	transform: translateY(-2px);
	transition: .5s ease;
}


.projectPreview h5, .projectPreview h6, .projectPreviewNextProject h5, .projectPreviewNextProject h6 {
	padding-left: 24px;
	padding-right: 24px;
	text-decoration: none;
}

.projectPreview h5, .projectPreviewNextProject h5 {
	font-size: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 24px;
}

.projectPreview h6, .projectPreviewNextProject h6 {
	font-size: 16pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	font-weight: normal;
}


/*Project Page Specific*/

#votingStrategy, #votingUsers, #votingSocial, #votingPitch, #votingBudget, #brainTeam, #brainIdeation, #brainPrototype, .nextProject, #onomatopoeiasIdeation, #onomatopoeiasReflection, #votingWireframes, #linkedinResearch, #linkedinProblem, #linkedinBrainstorm, #linkedinFeedback, #linkedinNext, #journalBaseIdeation, #journalBaseMockups, #journalBaseReflection, #ideasMockups, #ideasPrototype, #ideasPitch, #ideasResearch {
	background-color: #F5F5F8;
	padding-top: 24px;
	padding-bottom: 96px;
}

#votingResearch, #votingBackground, #votingIdeation, #votingWebsite, #votingTransportation, #votingVisual, #votingConclusion, #brainBackground, #brainUsers, #brainMockups, #brainReflection, #onomatopoeiasBackground, #onomatopoeiasResearch, #onomatopoeiasGIFs, #votingFlow, #linkedinBackground, #linkedinPersona, #linkedinGoals, #linkedinWireframes, #linkedinMockups, #journalBaseBackground, #journalBaseWireframes, #journalBaseUserFlow, #ideasBackground, #ideasUsers, #ideasWireframes, #ideasBranding, #ideasBusiness, #ideasProblem {
	padding-top: 24px;
	padding-bottom: 96px;
}

#brainOProblem, #brainNProblem {
	background-color: #404B5A;
	padding-top: 24px;
	padding-bottom: 96px;
}

#votingProblem {
	background-color: #238AFC;
	padding-top: 24px;
	padding-bottom: 96px;
}

#ideasProblem {
	background-color: #6CE4B2;
}

#onomatopoeiasFProblem, #onomatopoeiasSProblem, #journalBaseProblem {
	background-color: #FFE845;
	padding-top: 24px;
	padding-bottom: 96px;
}

#votingProblem p, #votingProblem p span, #votingProblem h3, #brainOProblem p, #brainNProblem p, #brainOProblem h3, #brainNProblem h3 {
	color: white;
}

#votingProblem p strong, #votingStrategy p strong, #brainOProblem p strong, #brainNProblem p strong, #onomatopoeiasResearch p strong, #journalBaseProblem p strong, #ideasProblem p strong {
	font-size: 18pt;
	line-height: 1.4;
}

#votingStrategy p strong,  #brainUsers p strong, #onomatopoeiasResearch p strong, #ideasProblem p strong {
	color: #26272C;
	line-height: 1.4;
}

#onomatopoeiasFProblem p strong, #onomatopoeiasSProblem p strong, #journalBaseProblem p strong {
	font-size: 18pt;
	line-height: 1.4;

}

#onomatopoeiasFProblem p, #onomatopoeiasSProblem p, #journalBaseProblem p, #ideasProblem p {
	color: #26272C;
}


.intro {
	margin-top: 120px;
	width: 100%;
}


.intro h1 {
	font-size: 16pt;
	line-height: 1.2;
	padding-right: 24px;
	padding-left: 24px;
	margin-bottom: 8px;
	font-weight: normal;
}

.intro h2 {
	font-size: 40px;
	margin-top: 0px;
	line-height: 1.2;
	padding-left: 24px;
	margin-bottom: 80px;
}



.basicText {
	font-size: 14pt;
	padding-bottom: 8pt;
    padding-top: 8pt;
	color: #9196A4;
	line-height: 1.4;
	margin-bottom: 0;
	margin-top: 0;
}

li {
	font-size: 16pt;
	color: #9196A4;
}

.basicText span {
	color: #26272C;
}

.projectPageContent {
	margin-top: 24px;
	overflow: hidden;
}

.projectPageContent h3, #about h3 {
	font-size: 36pt;
	margin-bottom: 0px;
	line-height: 1.2;
}

.projectPageContent hr {
	margin-top: -8px;
	margin-bottom: 0px;
	padding: 0;
}


hr.highLevelCategory {
	margin-top: -16px;
	margin-bottom: 48px;
	padding: 0;
}


.projectPageContent h4 {
	font-size: 16pt;
	padding-bottom: 2px;
	margin-bottom: 0px;
	margin-top: 56px;
}


.basicText p {
	font-size: 16pt;
	margin-bottom: 0px;
	margin-top: 24px;
	margin-bottom: 0;
}


.team {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 0px;

}

.teammate {
	flex-direction: column;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 24px;
	padding-top: 24px;
}

.teammate p {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	margin-left: 0px;
	font-size: 14pt;
}

.teammateInfo p {
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.teammate img {
	padding: 0;
	width: 50%;
}

.imageFull {
	margin-top: 12px;
}

.imageFit {
	max-width: 100%;
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 24px;
}

.firstImage {
	margin-top: 16px;
	padding-bottom: 0px;
}

.link {
	text-decoration: underline;
	color: #9196A4;
}

.link:hover {
	color: #1787FF;
}

.linkHighlight {
	background-color: #FFE845; 
	color: #9196A4;
}

.linkHighlight:hover {
	color: #26272C;
}

.projectNavigation {
	display: flex;
	justify-content: center;
}

.projectNavigation ul {
	list-style-type: none;
	padding-right: 24px;
	padding-left: 24px;
	width: 50%;
}

.projectNavigation li {
	border: 2px solid;
	padding: 16px;
	margin: 16px;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
}

.navigation {
	float: left;
	text-align: left;
}

#navigationGroup {
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
  	display: flex;
  	justify-content: space-between;
  	align-items: flex-end;

}

:target {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}



/*The Voting Project Specific*/

#researchStatistics strong {
	color: #26272C;
	font-size: 48pt;
}

.researchStatistic {
	margin-top: 36px;
}


p.researchStatText {
	margin-top: -24px;
}


#quote strong {
	color: #26272C;
	font-size: 18pt;
	text-indent: -0.5em;
}


#quote p.quoteCitation {
	margin-top: 0px;
}

#quote{
	margin-bottom: 0px;
	margin-top: 48px;
}

#problemImages {
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

#problemImages img {
	margin-bottom: 12px;
	padding: 4px;
	width: 90%;
	align-self: center;
}

#ideationImage {
	padding-top: 24px;
}

#personaSideBySide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.twoColumns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.twoColumns img, .twoColumns p {
	align-self: center;
}

.votingUserFlow {
	width: 50%; 
	padding-bottom: 0px; 
	padding-top: 0px;
}

.votingMockup {
	width: 100%; 
	padding-bottom: 0px; 
	padding-top: 0px;
}

#howToVoteFirstImage {
	float: right;
	overflow: auto;
}

#personaSideBySide img, #personaSideBySide p {
	align-self: center;
}

#personaSideBySide img {
	padding-top: 40px;
	padding-bottom: 40px;
}



/*BrainGate Specific*/

img.brainMockup {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.07), 0 -4px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 20px 0 rgba(0, 0, 0, 0.03);
	margin-bottom: 12px;
	padding: 0px;
	width: 100%;
	margin-top: 12px;
}

.brainWirframes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.brainWirframes img {
	max-width: 18%;
	height: auto;
	align-self: center;
	padding-bottom: 8px;
	padding-top: 8px;
}


/*Onomatopoeia Specific*/

.sideBySide {
	display: flex;
	flex-direction: row;
}

.sideBySide img {
	width: 50%;
	height: auto;
	align-self: center;
}

.manyOnomatopoeias {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.manyOnomatopoeias img {
	width: 40%;
	height: auto;
	align-self: center;
	margin-right: 16px;
	margin-left: 16px;
}


/*LinkedIn Specific*/
img.linkedInWireframe {
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.07), 0 -4px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 20px 0 rgba(0, 0, 0, 0.03);
	margin-right: 24px;
	margin-left: 24px;
	margin-top: 24px;
}

video.userFlowVideo {
	height: 80vh;
	width: auto;
}



@media (min-width: 1000px) {
	

	/*General Project page*/

	#votingTeam, #votingStrategy, #votingUsers, #votingSocial, #votingPitch, #votingBudget, #brainTeam, #brainIdeation, #brainTeam, #brainIdeation, #brainPrototype, .nextProject, #onomatopoeiasIdeation, #onomatopoeiasReflection, #votingWireframes, #linkedinResearch, #linkedinProblem, #linkedinBrainstorm, #linkedinFeedback, #linkedinNext, #journalBaseBackground, #journalBaseIdeation, #journalBaseMockups, #journalBaseReflection, #ideasMockups, #ideasPrototype, #ideasPitch, #ideasResearch {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	#votingResearch, #brainOProblem, #brainNProblem, #votingProblem, #votingIdeation, #votingBackground, #votingWebsite, #votingTransportation, #votingVisual, #votingConclusion, #brainBackground, #brainUsers, #brainMockups, #brainReflection, #onomatopoeiasBackground, #onomatopoeiasResearch, #onomatopoeiasGIFs, #onomatopoeiasFProblem, #onomatopoeiasSProblem, #votingFlow, #linkedinBackground, #linkedinPersona, #linkedinGoals, #linkedinWireframes, #linkedinMockups, #journalBaseProblem, #journalBaseWireframes, #journalBaseUserFlow, #ideasBackground, #ideasUsers, #ideasWireframes, #ideasBranding, #ideasBusiness, #ideasProblem {
		padding-top: 96px;
		padding-bottom: 96px;
	}


	#votingProblem p strong, #votingStrategy p strong, #brainOProblem p strong, #brainNProblem p strong, #ideasProblem p strong {
		font-size: 24pt;
		line-height: 1.4;
	}

	#votingProblem h3, #brainOProblem h3, #brainNProblem h3 {
		border-top: 2px solid white;
	}
	

	main h3, main h4, main p, #introMessage {
		padding-left: 24px;
		padding-right: 24px;
	}

	.hideMobile {
		display: inline;
	}

	.hideDesktop {
		visibility: hidden;
	}

	.intro {
		margin-top: 184px;
		margin-left: 120px;
		margin-right: 120px;
		width: calc(100% - 240px);
		overflow: hidden;
	}

	.intro img {
		height: auto;

	}

	.intro h1 {
		font-size: 20pt;
		line-height: 1.2;
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 24px;
		font-weight: normal;
		padding-right: 0px;
	}

	.intro h2 {
		font-size: 58px;
		margin-top: 0px;
		line-height: 1.2;
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 144px;
	}
	
	.section {
		margin-right: 120px;
		margin-left: 120px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.section h3 {
		font-size: 13pt;
		margin-bottom: 0px;
		margin-top: 36px;
		margin-left: auto;
		margin-right: 40px;
		padding-left: 0px;
		padding-right: 0px;
		line-height: 1.4;
		padding-top: 8px;
		width: 176px;
		border-top: 2px solid #000;
		text-align: right;
	}

	.sectionContent {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}


	.header {
		height: 40px;

	}

	.headerHR {
		margin-top: 40px;

	}

	.firstImage {
		margin-top: 16px;
		padding-bottom: 0vw;
	}


	.basicText {
		margin-top: 24px;
		font-size: 13pt;
		line-height: 1.7;
		padding-bottom: 0px;
		margin-bottom: 0;
		padding-bottom: 0px;
	}

	li {
		font-size: 13pt;
		line-height: 1.7;
	}

	.fullImageContainer {
		width: 950px;
		margin: auto;
		margin-top: 24px;
		/*max-width: 175%;
		margin-left: -37.5%;
		margin-right: 37.5%;
		margin-top: 100px;*/
	}


	.projectPageContent img {
		display: block;
	}

	.projectPageContent video {
		display: block;
		height: auto;
	}

	.projectPageContent h4 {
		margin-top: 200px;
		font-size: 24pt;
	}

	hr {
		height: 3px;
	}


	.teammate {
		display: flex;
		width: 28%;
		flex-direction: row;
		padding-left: 24px;
		padding-right: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
		justify-content: flex-start;
		align-self: flex-start;
	}

	.teammate img {
		align-self: flex-start;
		padding-right: 16px;
		width: 25%;
		top: 0;
	}

	.teammate p {
		margin: 0px;
		padding-top: 0px;
		padding-right: 0px;
		margin-left: 0px;
		font-size: 10pt;
	}

	div.projectPreviews.column, div.projectPreviewsNextProj.column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}

	.nextProject {
		padding-left: 0px;
	}

	h3.nextProject {
		font-size: 48px;
		margin-top: 150px;
		margin-bottom: 0px;
	}


	/*landing page*/

	.projectPreview h5, .projectPreviewNextProject h5 {
		font-size: 14pt;
		margin-top: 0px;
		margin-bottom: 12px;
		padding-top: 24px;

	}

	.projectPreview h5, .projectPreview h6, .projectPreviewNextProject h5, .projectPreviewNextProject h6 {
		padding-left: 32px;
		padding-right: 32px;
		text-decoration: none;
	}

	.hide {
		visibility: hidden;
	}

	.projectPreview h6, .projectPreviewNextProject h6 {
		font-size: 14pt;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 24px;
		font-weight: normal;

	}


	#landingPageContent {
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}

	.projectPreviews, .projectPreviewsNextProj {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-top: 0px;
		flex-wrap: wrap;
		max-width: 90%;
		padding-top: 48px;
	}

	.projectPreviews {
		margin-top: 70vh;
	}

	.projectPreview {
		width: 31%;
		margin-left: 0px;
		margin-right: 0px;
		padding-bottom: 36px;
		margin-top: 16px;
		margin-bottom: 0px;
	}

	.projectPreviewNextProject {
		width: 48%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 48px;
		padding-bottom: 0px;
	}

	.bottom {
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 48px;
	}

	.top {
		margin-bottom: 32px;
	}

	#introMessage {
		margin-left: 5vw;
		margin-right: 5vw;
		margin-bottom: 0px;
		margin-top: 24px;
    	padding-top: 144px;
		padding-right: 104px;
		padding-left: 104px;
		padding-bottom: 0px;
		height: 80vh;
		background-color: #F5F5F8; 
		position: fixed; 
		z-index: 0; 
		top: 0;
		width: calc(90% - 208px);
	}

	#about {
		margin-left: 5vw;
		margin-right: 5vw;
		margin-top: 0px;
		background-color: #F5F5F8; 
		height: calc(90vh - 70px);
		width: calc(90% - 96px);
		padding-right: 48px;
		padding-left: 48px;
		padding-top: 64px;
	}

	#about .section {
		min-width: 600px;
		max-width: 800px;
	}

	#about h3 {
		font-size: 12pt;
	}

	#introParagraph {
		font-size: 18pt; 
		margin-left: 35vw; 
		max-width: 600px;
		margin-top: -16px;
	}

	#introMessage h2 {
		font-size: 7vw;
		margin-bottom: 48px;
		line-height: 1.3;
		margin-top: 0px;
	}


	.nav {
		display: block;
		margin-top: 10px;
		width: 90%;
		padding-top: 0px;
		margin-right: auto;
		margin-left: auto;
	}

	.nav #resume {
		float: right;
		padding-right: 48px;
		font-size: 20px;
		position: static;
	}

	.landingPageNav {
	    display: block;
	    width: 90%;
	    padding-top: 26px;
    	padding-bottom: 16px;
	    padding-left: 5vw;
	    padding-right: 5vw;
	    position: fixed;
	    z-index: 110;
	    top: 0;
	}

	.projectPageNav {
		display: block; 
		width: 90%;
		padding-top: 20px;
    	padding-bottom: 10px;
		padding-left: 5vw;
		padding-right: 5vw;
		position: fixed; 
		z-index: 110; 
		top: 0;
		background-color: rgba(245, 245, 248, 0.97); 
		height: 24px; 	
	}

	.landingPageNav h3, .projectPageNav h3, #navigationGroup h1 {
		font-size: 12pt;
		font-weight: bold;
		color: #9196A4;
		margin: 0px;
		margin-left: 48px;
		line-height: 1;
		display: inline-block;
		align-items: flex-end;
		line-height: 1;
	}

	#name {
		float: left;
		align-items: flex-end;
		line-height: 1;
	}

	.navigation {
		display: inline; 
		float: right;
	}


	#navigationGroup {
		margin-left: 0px;
	    margin-top: 0px;
	    margin-top: 16px;
	    text-align: right;
	    display: inline;
	    justify-content: right;
	}


	#dtResume {
		position: static;
	}
	


	/*voting project*/

	
	#personaSideBySide {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#personaSideBySide img, #personaSideBySide p {
		align-self: center;
		width: 40%;
	}

	.twoColumns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.twoColumns img {
		max-width: 50%;
		align-self: center;
	}

	.twoColumns p {
		max-width: 30%;
		align-self: center;
		margin-top: 0px;
	}

	#extraTopMargin {
		margin-top: 100px;
	}
		

	.votingMockup {
		width: 50%;
	}

	#researchStatistics {
		display: flex;
		flex-direction: row;
	}

	.researchStatistic {
		width: 40%;
	}

	#quote {
		width: 500px;
		margin-bottom: 90px;
	}

	#problemImages {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-right: 24px;
    	padding-left: 24px;

	}

	#problemImages img {
		width: 40%;
		height: auto;
		align-self: center;
	}


	/*BrainGate*/

	.brainMockup {
		width: 800px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		padding: 0px;
	}

	.brainWirframes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.brainWirframes img {
		width: 18%;
		height: auto;
		align-self: center;
	}

	img.brainMockup {
		margin-top: 40px;
	}


	/*Onomatopoeias*/

	.sideBySide {
		display: flex;
		flex-direction: row;
	}

	.sideBySide img {
		width: 50%;
		height: auto;
		align-self: center;
	}

	.manyOnomatopoeias {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.manyOnomatopoeias img {
		width: 15%;
		height: auto;
		align-self: center;
		margin-right: 16px;
		margin-left: 16px;
	}

	/*LinkedIn Specific*/
	img.linkedInWireframe {
		width: 30%;
	}

	video.userFlowVideo {
		height: 80vh;
		width: auto;
	}

	/*unfinished*/

	.unfinishedSideBySide {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 48px;
		margin-bottom: 48px;
		align-items: center;
	}

	.unfinishedSideBySide img {
		width: 40%;
		height: auto;
		align-self: center;
	}

	.unfinishedSideBySide p {
		width: 40%;
	}


}


@media (min-width: 768px) and (max-width: 1000px) {
	
	
	#votingStrategy, #votingUsers, #votingSocial, #votingPitch, #votingBudget, #brainTeam, #brainIdeation, .nextProject, #onomatopoeiasIdeation, #onomatopoeiasReflection, #votingWireframes, #linkedinResearch, #linkedinProblem, #linkedinBrainstorm, #linkedinFeedback, #linkedinNext, #journalBaseBackground, #journalBaseIdeation, #journalBaseMockups, #journalBaseReflection, #ideasMockups, #ideasPrototype, #ideasPitch, #ideasResearch {
		background-color: #f4f4f4;
		padding-top: 96px;
		padding-bottom: 96px;
	}

	#votingResearch, #votingProblem, #votingBackground, #votingIdeation, #votingWebsite, #votingTransportation, #votingVisual, #votingConclusion, #brainBackground, #brainUsers, #brainMockups, #brainReflection, #onomatopoeiasBackground, #onomatopoeiasResearch, #onomatopoeiasGIFs, #onomatopoeiasFProblem, #onomatopoeiasSProblem, #votingFlow, #linkedinBackground, #linkedinPersona, #linkedinGoals, #linkedinWireframes, #linkedinMockups, #journalBaseProblem, #journalBaseWireframes, #journalBaseUserFlow, #ideasBackground, #ideasUsers, #ideasWireframes, #ideasBranding, #ideasBusiness, #ideasProblem {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	#votingProblem p strong, #votingStrategy p strong, #brainOProblem p strong, #brainNProblem p strong, #ideasProblem p strong {
		font-size: 24pt;
		line-height: 1.4;
	}

	#votingProblem h3, #brainOProblem h3, #brainNProblem h3 {
		border-top: 2px solid white;
	}

	main h3, main h4, main p, #introMessage {
		padding-left: 24px;
		padding-right: 24px;
	}

noteinteractions.png	.hideMobile {
		display: inline;
	}

	.hideDesktop {
		display: none;
		visibility: hidden;
	}

	.intro {
		margin-top: 184px;
		width: 100%;
	}

	.intro img {
		width: 750px;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		display: block;
	}

	.intro h1 {
		font-size: 20pt;
		line-height: 1.2;
		width: 700px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 24px;
		font-weight: normal;
	}

	.intro h2 {
		font-size: 58px;
		margin-top: 0px;
		line-height: 1.2;
		max-width: 700px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 144px;
	}

	.sectionContent {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
	}

	.section {
		width: 750px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: row;
	}

	.section h3 {
		font-size: 13pt;
		margin-bottom: 0px;
		margin-top: 36px;
		margin-left: auto;
		margin-right: 24px;
		padding-left: 0px;
		padding-right: 0px;
		line-height: 1.4;
		padding-top: 8px;
		width: 150px;
		border-top: 2px solid #000;
		text-align: right;

	}

	.header {
		height: 40px;

	}

	.headerHR {
		margin-top: 40px;

	}

	.firstImage {
		margin-top: 16px;
		padding-bottom: 0vw;
	}

	.basicText {
		margin-top: 24px;
		font-size: 13pt;
		line-height: 1.8;
		padding-bottom: 0px;
		margin-bottom: 0;
	}

	li {
		font-size: 13pt;
		line-height: 1.7;
	}


	#landingPageContent {
		width: 768px;
		margin-right: auto;
		margin-left: auto;
	}

	.projectPreviews, .projectPreviewsNextProj {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-top: 0px;
		flex-wrap: wrap;
		max-width: 90%;
		padding-top: 48px;
	}

	.projectPreviews {
		margin-top: 70vh;
	}

	.projectPreview {
		width: 48%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 36px;
	}

	.projectPreviewNextProject {
		width: 48%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 48px;
		padding-bottom: 36px;
	}

	.bottom {
		padding-top: 0px;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.top {
		margin-bottom: 16px;
		margin-top: 16px;
	}


	.hide {
		visibility: hidden;
	}

	#introMessage {
		margin-left: 5vw;
		margin-right: 5vw;
		margin-bottom: 0px;
		margin-top: 24px;
		padding-top: 128px;
		padding-right: 104px;
		padding-left: 104px;
		padding-bottom: 0px;
		height: 80vh;
		background-color: #F5F5F8; 
		position: fixed; 
		z-index: 0; 
		top: 0;
		width: calc(90% - 208px);
	}

	#introParagraph {
		font-size: 16pt; 
		margin-left: 0vw; 
		max-width: 600px;
		margin-top: 0px;
	}

	#introMessage h2 {
		font-size: 7vw;
		margin-bottom: 48px;
		line-height: 1.3;
		margin-top: 0px;
	}

	#about {
		margin-left: 5vw;
		margin-right: 5vw;
		margin-top: 0px;
		background-color: #F5F5F8; 
		height: calc(90vh - 70px);
		width: calc(90% - 96px);
		padding-right: 48px;
		padding-left: 48px;
		padding-top: 80px;
	}

	#about .section {
		max-width: 600px;
	}

	#about h3 {
		font-size: 12pt;
	}

	.landingPageNav {
		display: block; 
		width: 90%;
		padding-top: 26px;
    	padding-bottom: 16px;
		padding-left: 5vw;
		padding-right: 5vw;
		position: fixed; 
		z-index: 110; 
		top: 0;
	}

	.projectPageNav {
		display: block; 
		width: 90%;
		padding-top: 20px;
    	padding-bottom: 10px;
		padding-left: 5vw;
		padding-right: 5vw;
		position: fixed; 
		z-index: 110; 
		top: 0;
		background-color: rgba(245, 245, 248, 0.97); 
		height: 24px; 	
	}

	.landingPageNav h3, .projectPageNav h3, #navigationGroup h1 {
		font-size: 12pt;
		font-weight: bold;
		color: #9196A4;
		margin: 0px;
		margin-left: 48px;
		line-height: 1;
		display: inline-block;
	}

	#name {
		float: left;
	}

	.navigation {
		display: inline; 
		float: right;
	}

	#navigationGroup {
		margin-left: 0px;
		margin-top: 0px;
		margin-top: 0px;
		text-align: right;
  		display:inline;
  		justify-content:right;
  		align-items: center;
  		top: 0;
	}


	.nav {
		display: block;
		margin-top: 10px;
		width: 30%;
		padding-top: 0px;
	}


	.nav #resume {
		float: right;
		padding-right: 48px;
		font-size: 20px;
		position: static;
	}

	#dtResume {
		position: static;
	}

	.projectPreview h5, .projectPreviewNextProject h5 {
		font-size: 14pt;
		margin-top: 0px;
		margin-bottom: 12px;
		padding-top: 24px;

	}

	.projectPreview h5, .projectPreview h6, .projectPreviewNextProject h5, .projectPreviewNextProject h6 {
		padding-left: 32px;
		padding-right: 32px;
		text-decoration: none;
	}

	.projectPreview h6, .projectPreviewNextProject h6 {
		font-size: 14pt;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 24px;
		font-weight: normal;

	}

	.nav {
		width: 768px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		padding-top: 0px;
	}

	.nav #resume {
		float: right;
		padding-right: 48px;
		font-size: 20px;
	}


	img.column  {
		display: block;
	}

	video.column {
		display: block;
	}

	.projectPageContent h4 {
		margin-top: 200px;
		font-size: 24pt;
	}

	.projectPageContent h3 {
		font-size: 13pt;
		margin-bottom: 0px;
		margin-top: 40px;
		margin-left: 0px;
		padding-left: 0px;
	}


	#researchStatistics {
		display: flex;
		flex-direction: row;
	}

	.researchStatistic {
		width: 40%;
	}

	#quote {
		width: 500px;
		margin-bottom: 90px;
	}

	#problemImages {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-right: 24px;
    	padding-left: 24px;
	}

	.theVotingProjectImportant p {
		margin-top: 0px;
		padding-top: 64px;
		padding-bottom: 64px;
	}

	#personaSideBySide {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#personaSideBySide img, #personaSideBySide p {
		align-self: center;
		width: 40%;
	}

	.twoColumns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.twoColumns img {
		max-width: 50%;
		align-self: center;
	}

	.twoColumns p {
		max-width: 30%;
		align-self: center;
		margin-top: 0px;
	}

	#extraTopMargin {
		margin-top: 100px;
	}
	

	.votingMockup {
		width: 40%;
	}

	#problemImages img {
		width: 40%;
		height: auto;
		align-self: center;
	}

	div.projectPreviews.column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


	.nextProject {
		padding-left: 0px;
	}

	h3.nextProject {
		font-size: 48px;
		margin-top: 150px;
		margin-bottom: 0px;
	}


	hr {
		height: 3px;
	}


	.teammate {
		display: flex;
		width: 40%;
		flex-direction: row;
		padding-left: 24px;
		padding-right: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
		justify-content: flex-start;
		align-self: flex-start;
	}

	.teammate img {
		align-self: flex-start;
		padding-right: 16px;
		width: 25%;
		top: 0;
	}

	.teammate p {
		margin: 0px;
		padding-top: 0px;
		padding-right: 0px;
		margin-left: 0px;
		font-size: 10pt;
	}


	.brainMockup {
		width: 750px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		padding: 0px;
	}

	img.brainMockup {
		margin-top: 40px;
	}


	.brainWirframes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.brainWirframes img {
		width: 18%;
		height: auto;
		align-self: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.sideBySide {
		display: flex;
		flex-direction: row;
	}

	.sideBySide img {
		width: 50%;
		height: auto;
		align-self: center;
	}

	.manyOnomatopoeias {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.manyOnomatopoeias img {
		width: 15%;
		height: auto;
		align-self: center;
		margin-right: 16px;
		margin-left: 16px;
	}

	/*LinkedIn Specific*/
	img.linkedInWireframe {
		width: 30%;
	}

	video.userFlowVideo {
		height: 80vh;
		width: auto;
	}


}





